h1 { 
  color: black; 
  font-size: 90px; 
  /*padding: 10px;*/
  font-family: 'Georgia'; 
  font-weight: bold;
  /*margin-height: 15px
  margin-bottom: 15px;*/
  text-align: center;
  /*position: relative;*/
  margin: 0px;
}

p { 
  color: black; 
  font-size: 15px; 
  /*padding: 10px;*/
  font-family: "Pixelify Sans", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 450; /*Between 400 and 700*/
  font-style: normal;
  text-align: left;
  margin: 10px;
}

title { 
  color: black; 
  font-size: 15px; 
  /*padding: 10px;*/
  font-family: "Pixelify Sans", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 450; /*Between 400 and 700*/
  font-style: normal;
  text-align: center;
  margin: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 3.5fr 3fr 3.5fr;
  background-color: white;
  grid-gap: 1px;
}

.intro{
  text-align: center;
}

.empty{
  background-color: white;
}

#countdown {
  position: fixed;
  font-family: "Pixelify Sans", sans-serif; 
  top: 20px;
  right: 20px;
  font-size: 20px;
}

/* !!!! */

.header-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-weight: regular;
  font-size: 120px;
  color: white;
}

.header-subtitle{
  display: flex;
  font-weight: regular;
  font-size: 18px;
  text-align: center;
  text-decoration: none
}


.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.card {
  position: absolute;
  width: 150px;
  height: 150px;
  background: white;
  /*border-radius: 10px;*/
  overflow: hidden;
  text-decoration: none;
  color: black;
  /*box-shadow: 0 6px 14px rgba(0,0,0,0.15);*/
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card h3 {
  flex: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 4px;
}
