h1 { 
  color: black; 
  font-size: 90px; 
  /*padding: 10px;*/
  font-family: 'Georgia'; 
  font-weight: bold;
  /*margin-height: 15px
  margin-bottom: 15px;*/
  text-align: center;
  /*position: relative;*/
  margin: 0px;
}

p { 
  color: black; 
  font-size: 20px; 
  /*padding: 10px;*/
  font-family: 'tahoma'; 
  font-weight: regular;
  margin: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 3.5fr 3fr 3.5fr;
  background-color: white;
  grid-gap: 1px;
}

.intro{
  text-align: center;
}

.empty{
  background-color: blue;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

/* !!!! */

.header-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-weight: regular;
  font-size: 120px;
  color: white;
}

.header-subtitle{
  display: flex;
  font-weight: regular;
  font-size: 18px;
  text-align: center;
  text-decoration: none
}